* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.image-top,
.repeat-section img {
  width: 100%;
  height: auto;
  display: block;
}
